<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564448752554-3nqqtuchanorjr12e2r1n00li0lfctb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564448752554-3nqqtuchanorjr12e2r1n00li0lfctb5</string>
	<key>API_KEY</key>
	<string>AIzaSyAm4NWr_alhkFUNYl1AhdVMJxFdivF5-W8</string>
	<key>GCM_SENDER_ID</key>
	<string>564448752554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myfirstdata</string>
	<key>PROJECT_ID</key>
	<string>myfirstdata-2717f</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstdata-2717f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564448752554:ios:1014ed5944a9cabf6771d3</string>
</dict>
</plist>